{% extends 'base.html' %}
<style>
{% block style %}
h1{
    background: #adadad;
    box-shadow: #626262 5px 5px 5px;
    padding: 10px;
}
{% endblock style %}
</style>
{% block container %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Título</label>
            {{ form.title }}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <label for="id_content">Conteúdo</label>
        {{ form.content }}
        <input class="btn btn-outline-primary" type="submit" value="{{ title }}">
        {% if instance %}
            <button type="submit"  class="btn btn-outline-danger" formaction="{% url 'posts:delete' id=instance.id %}">Excluir</button>
        {% endif %}
    </form>
    <pre>
	{{ instance.fields }}
    </pre>
{% endblock container %}