{% extends 'base.html' %}
<style>
{% block style %}
h1{
    background: #adadad;
    box-shadow: #626262 5px 5px 5px;
    padding: 10px;
}
{% endblock style %}
</style>
{% block container %}
    <form method="post" action="">

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Check me out
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>





    <h1>{{ title }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Título</label>
            {{ form.title }}
        </div>
        {{ form.content }}
        <input class="btn btn-outline-primary" type="submit" value="{{ title }}">
        {% if instance %}
            <button type="submit"  class="btn btn-outline-danger" formaction="{% url 'posts:delete' id=instance.id %}">Excluir</button>
        {% endif %}
    </form>
    <pre>
	{{ instance.fields }}
</pre>
{% endblock container %}